**This practice project mainly for data manipulation by Pandas. Common operations in pandas data wrangling include:**



Selecting and filtering data based on specific criteria using boolean indexing
Handling missing or null data using methods such as dropna(), fillna() or interpolate()
Grouping and aggregating data using groupby() and agg() functions
Reshaping data using pivot(), melt() and stack() functions
Joining, merging or concatenating data using merge(), concat() or join() functions
Creating new columns or transforming existing ones using apply(), map() or transform() functions
Some important considerations when using pandas for data wrangling include:

Checking and understanding data types, especially when reading in data from external sources
Dealing with duplicate or inconsistent data and ensuring data integrity
Handling large datasets efficiently, by using methods such as chunking or optimizing memory usage
Writing clean and efficient code by avoiding nested loops and using vectorized operations whenever possible
Considering the computational limitations of your machine and adjusting your code accordingly.



---
## Project 1 olympics medals analysis

In [ ]:
import pandas as pd

df = pd.read_csv("https://python4ds.s3-ap-northeast-1.amazonaws.com/olympics.csv", index_col=0)

In [ ]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [ ]:
def most_g(df):
  """
      This function should pass back a country name which owns the most Gold in summer.
  """
  print(df['Gold'].max())

  return df['Gold'].idxmax()

In [ ]:
most_g(df)

976

'United States'

In [ ]:
def most_gap(df):
  """
      Which country has the largest difference in the number of gold medals between the Summer Olympics and the Winter Olympics?

  """
  df['gap']=(df['Gold']-df['Gold.1']).abs()
  print(df['gap'].max())
  return df['gap'].idxmax()

In [ ]:
most_gap(df)

880

'United States'

In [ ]:
def most_r(df):
    """
    Which country has the largest ratio of the difference in the number of gold medals divided by the total number of gold medals in the Summer and Winter Olympics? 
    (Only countries with at least one summer gold medal and one winter gold medal are considered)

    """
    df=df [(df['Gold']>0) & (df['Gold.1']>0)].copy()

    df['gap']=(df['Gold']-df['Gold.1']).abs() 
    df['ratio']=df['gap']/ (df['Gold']+df['Gold.1'])
    print(df['ratio'].max())
    return df['ratio'].idxmax()

In [ ]:
most_r(df)

0.9615384615384616

'Bulgaria'

In [ ]:
def score(df):
    """
    This function should pass back a Series with a length of 146
    """
    df['score']=df['Gold.2']*3+df['Silver.2']*2+ df['Bronze.2']


    return df['score'].sort_values(ascending=False)

In [ ]:
score(df)

United States    5684
Soviet Union     2526
Great Britain    1574
Germany          1546
France           1500
                 ...
Bahrain             1
Barbados            1
Niger               1
Macedonia           1
Eritrea             1
Name: score, Length: 146, dtype: int64

---
## Project 2 The US census analysis

In [ ]:
import pandas as pd
df1 = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/census.csv')
df1.shape

(3193, 100)

In [ ]:
df1.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

'Texas'

In [ ]:
def county(df):
    """
   Which state has the highest number of counties?
    """
   

    return  df.groupby('STNAME')['CTYNAME'].count().sort_values(ascending=False).index[0]


"""
solution2
def county(df):

   

    return  df['STNAME'].value_counts().idxmax()


"""

In [ ]:
county(df1)

'Texas'

In [ ]:
    """
   
CONSIDERING ONLY THE THREE MOST POPULOUS COUNTIES IN EACH STATE TO CALCULATE THE TOTAL POPULATION (CENSUS2010POP),
 WHICH THREE STATES HAVE THE MOST COMBINED? (Note the SUMLEV variable)
    """
    
    

clean=df1[df1['SUMLEV']==50]
list1=[]
st_names=clean['c'].unique()
for name in st_names:
  st=clean[clean['STNAME']==name].sort_values('CENSUS2010POP',ascending=False)[:3]
  sum=st['CENSUS2010POP'].sum()
  list1.append(sum)
print(list1) #list1 contains the sum first 3 county pop in each state, which is conrresponding one-to-one with the  county names in st_names in order
ser=pd.Series(list1,index=st_names).sort_values(ascending=False)
ser[:3]

KeyError: ignored

In [ ]:
    """
   
CONSIDERING ONLY THE THREE MOST POPULOUS COUNTIES IN EACH STATE TO CALCULATE THE TOTAL POPULATION (CENSUS2010POP),
 WHICH THREE STATES HAVE THE MOST COMBINED? (Note the SUMLEV variable)

 The sec solution
    """
a=clean.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
a.groupby('STNAME').sum().sort_values(ascending=False)[:3]

STNAME
California    15924150
Texas          8269632
Illinois       6815061
Name: CENSUS2010POP, dtype: int64

In [ ]:
"""
Check which county contain 'Washington' string
"""
limit=clean['CTYNAME'].str.contains('Washington')
clean=clean[limit]
clean

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
65,50,3,6,1,129,Alabama,Washington County,17581,17583,17610,...,-14.708407,-13.062030,-11.181733,1.067236,-0.950486,-13.849940,-12.075121,-10.122411,2.193763,0.118811
186,50,3,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
311,50,4,8,8,121,Colorado,Washington County,4814,4814,4801,...,-3.537981,-12.780222,10.930110,1.463823,15.336788,-2.913632,-12.570710,11.140305,1.672940,15.544041
396,50,3,5,12,133,Florida,Washington County,24896,24896,24754,...,-5.796984,10.967886,-8.778317,-5.505710,11.155898,-5.756446,11.008357,-8.697411,-5.301794,11.359472
547,50,3,5,13,303,Georgia,Washington County,21187,21187,21110,...,-6.219880,-11.035998,-12.870571,-3.054694,8.835458,-6.219880,-11.035998,-12.870571,-3.006206,8.883739
607,50,4,8,16,87,Idaho,Washington County,10198,10198,10195,...,-5.508558,-6.342285,-8.501700,6.613558,-5.302121,-5.606925,-6.342285,-8.501700,6.713763,-5.102041
703,50,2,3,17,189,Illinois,Washington County,14716,14716,14701,...,-8.057633,2.192006,-12.192182,-2.775850,-10.605638,-8.125918,2.123506,-12.192182,-2.775850,-10.605638
799,50,2,3,18,175,Indiana,Washington County,28262,28262,28284,...,-3.683894,-9.517699,-5.310179,0.717901,-5.454774,-3.258829,-9.161231,-4.879624,1.148641,-5.024134
896,50,2,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1005,50,2,4,20,201,Kansas,Washington County,5799,5799,5782,...,10.504563,-18.164519,-18.821460,-5.501819,-6.948156,12.054417,-16.780555,-17.238347,-3.549561,-4.988420
1125,50,3,6,21,229,Kentucky,Washington County,11717,11717,11742,...,3.996259,7.610672,-1.852320,2.013592,6.245316,3.826205,7.695235,-1.768123,2.097491,6.328587
1190,50,3,7,22,117,Louisiana,Washington Parish,47168,47171,47099,...,0.636693,-10.514642,-5.140614,-1.057904,1.273500,0.594246,-10.535969,-5.140614,-1.057904,1.273500
1211,50,1,1,23,29,Maine,Washington County,32856,32856,32824,...,0.213626,-3.280699,-4.262285,-9.111049,-4.284274,0.366217,-2.790127,-3.829879,-8.643015,-3.811744
1234,50,3,5,24,43,Maryland,Washington County,147430,147430,147738,...,3.736213,-1.167699,-2.572657,-2.349838,-3.264127,5.246883,0.429498,-0.857552,-0.455239,-1.377890
1419,50,2,4,27,163,Minnesota,Washington County,238136,238134,238995,...,2.555118,3.260957,2.285952,3.072543,0.678755,4.178076,4.907905,4.009584,5.040262,2.615204
1501,50,3,6,28,151,Mississippi,Washington County,51137,51135,51076,...,-17.258533,-12.536440,-11.003217,-15.335437,-24.304734,-17.278235,-12.178256,-10.602371,-14.930808,-23.893487
1618,50,2,4,29,221,Missouri,Washington County,25195,25196,25177,...,-5.130755,-2.389867,0.079577,-1.592420,-11.511311,-5.011435,-2.389867,0.079577,-1.592420,-11.511311
1770,50,2,4,31,177,Nebraska,Washington County,20234,20234,20275,...,-1.874784,-1.331459,-4.492607,-0.889284,-3.998716,-1.825448,-1.282146,-4.393868,-0.790475,-3.899983
1918,50,1,2,36,115,New York,Washington County,63216,63216,63292,...,-3.719090,-1.776030,-4.165839,-4.954213,-2.342897,-3.418398,-1.522311,-3.879636,-4.634587,-2.021953
2017,50,3,5,37,187,North Carolina,Washington County,13228,13218,13163,...,-17.616422,-19.247253,3.143542,-15.579280,-15.234735,-15.854779,-17.766695,4.872490,-13.760380,-13.390530
2162,50,2,3,39,167,Ohio,Washington County,61778,61778,61708,...,0.129798,0.780050,-0.455611,-2.137467,0.016355,0.227147,1.023816,-0.162718,-1.778503,0.376173
2241,50,3,7,40,147,Oklahoma,Washington County,50976,50977,51064,...,6.550601,1.937177,-4.298577,5.621233,-0.538524,8.012789,3.273830,-2.826992,7.224540,1.057814
2279,50,4,9,41,67,Oregon,Washington County,529710,529849,531658,...,4.095125,4.109241,2.794508,2.761557,7.923706,7.187933,7.194390,6.167129,6.638461,11.759856
2345,50,1,2,42,125,Pennsylvania,Washington County,207820,207820,207877,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
2355,50,1,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
2560,50,3,6,47,179,Tennessee,Washington County,122979,122979,123338,...,5.102082,6.355175,3.498305,2.204098,1.665583,5.562967,6.869373,4.065382,2.880446,2.347678
2805,50,3,7,48,477,Texas,Washington County,33718,33708,33726,...,3.929796,-3.861914,4.908877,3.937410,6.186938,5.288973,-2.505822,6.349206,5.687370,7.950504
2848,50,4,8,49,53,Utah,Washington County,138115,138115,138424,...,10.452576,13.931997,15.138553,17.835620,18.206181,10.809807,14.120739,15.384931,18.229593,18.589948
2863,50,1,1,50,23,Vermont,Washington County,59534,59526,59570,...,-1.578161,-5.617505,-3.407759,-4.097008,-6.278073,-1.376694,-5.281128,-3.087227,-3.741482,-5.920784
2957,50,3,5,51,191,Virginia,Washington County,54876,54870,54893,...,-1.058037,7.122105,-3.806956,-0.219364,-2.782507,-0.711439,7.522837,-3.388009,0.292486,-2.269940
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931